<!--  This file is app/views/certificates/index.html.erb -->
<br>
<h2>All Certificates</h2>

<br>
<style>
.hilite{
  background-color: grey;
}
</style>


<table class="table col-md-12" id="certificates">
  <thead class="table-dark">
    <tr>
      <th>
        <%= link_to 'Certificate Name', certificates_path(:sort => 'name'), id:'name_header', class:@name_header %>
      </th>
      <th>School</th>
      <th>
        <%= link_to 'Subject Area', certificates_path(:sort => 'subject'), id:'subject_header', class:@subject_header %>
      </th>
      <th>More Information</th>
    </tr>
  </thead>

  <%= form_tag certificates_path, method: :get, id: 'schools_form' do %>
  Include Certificates from:
  <%= select_tag :schools,
                  options_from_collection_for_select(@schools,'name','name',  @schools_to_show),
                  multiple: true, :include_blank => 'Select All'%>






Include Subjects:
<%= select_tag :subjects,
                options_from_collection_for_select(@subjects,'name','name',  @subjects_to_show),
                multiple: true, :include_blank => 'Select All'%>
<%= submit_tag 'Refresh', id: 'sub_submit', class: 'btn btn-dark btn-sm' %>
<% end %>


  <tbody class="table-light">
    <% @certificates.each do |certificate| %>
      <tr>
        <td class="h6">
          <%= certificate.name %>
        </td>
        <td class="h6">
          <%= certificate.school %>
        </td>
        <td class="h6">
          <%= certificate.subject %>
        </td>
        <td class="h6">
          <%= link_to "More about #{certificate.name}", certificate_path(certificate) ,class: "btn btn-outline-secondary col-12"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
