<!--  This file is app/views/certificates/index.html.erb -->
<br>
<h2>All Certificates</h2>
<br>
<%#  Part 2: Start here... %>

<table class="table col-md-12" id="certificates">
  <thead class="table-dark">
    <tr>
      <th>Certification Name</th>
      <th>School</th>
      <th>Subject Area</th>
      <th>More Information</th>
    </tr>
  </thead>
  <tbody class="table-light">
    <% @certificates.each do |certificate| %>
      <tr>
        <td class="h6">
          <%= certificate.name %>
        </td>
        <td class="h6">
          <%= certificate.school %>
        </td>
        <td class="h6">
          <%= certificate.subject %>
        </td>
        <td class="h6">
          <%= link_to "More about #{certificate.name}", certificate_path(certificate) ,class: "btn btn-outline-secondary col-12"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new certificate', new_certificate_path, :class => 'btn btn-primary' %>
