<!--  This file is app/views/certificates/index.html.erb -->
<br>
<h2>All Certificates</h2>

<br>
<style>
.hilite{
  background-color: grey;
}

.bold{
  font-weight: bold;
}
</style>

<%= form_tag certificates_path, method: :get, id: 'schools_form' do %>
  <b>
    <label for="schools">Schools</label>
  </b>
  <%= select_tag 'schools', options_for_select(@all_schools, @selected_schools), multiple: true, class: 'selectpicker'%>
  <b>
  <label for="schools">Subjects</label>
  </b>
  <%= select_tag 'subjects', options_for_select(@all_subjects, @selected_subjects), multiple: true, class: 'selectpicker'%>
  <%= hidden_field_tag :refresh, "1" %>
  <%= submit_tag 'Refresh', id: 'sub_submit', class: 'btn btn-dark btn-sm' %>
<% end %>

<table class="table col-md-12" id="certificates">
  <thead class="table-dark">
    <tr>
      <th>
        <%= link_to 'Certificate Name', certificates_path(:sort => 'name'), id:'name_header', class:[@name_header, 'link-light', 'text-decoration-none', 'hover-eff'] %>
      </th>
      <th><%= link_to 'School', certificates_path(:sort => 'school'), id:'school_header', class:[@school_header, 'link-light', 'text-decoration-none', 'hover-eff'] %></th>
      <th>
        <%= link_to 'Subject Area', certificates_path(:sort => 'subject'), id:'subject_header', class:[@subject_header, 'link-light', 'text-decoration-none', 'hover-eff'] %>
      </th>
      <th>More Information</th>
    </tr>
  </thead>

<br><br>
<%# new here %>

  <tbody class="table-light">
    <% @certificates.each do |certificate| %>
      <tr>
        <td class="h6">
          <%= certificate.name %>
        </td>
        <td class="h6">
          <%= certificate.school %>
        </td>
        <td class="h6">
          <%= certificate.subject %>
        </td>
        <td class="h6">
          <%= link_to "More about #{certificate.name}", certificate_path(certificate) ,class: "btn btn-outline-secondary col-12"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>