<!--  app/views/movies/show.html.erb -->
<br>
<h2><%= @certificate.name %> </h2>
<br>
<ul id="details">
  <li>
     <h5>School: </h5> <%= @certificate.school %>
     <p>Learn more about the school <a class="link-secondary" href=<%= @certificate.origin %>>here</a></p>
  </li>
  <br>
  <li>
    <h5>Subject: </h5>
    <p id="description">
    <%= @certificate.subject %>
    </p>
  </li>

  <li>
    <h5>Program Website: </h5>
    <p id="description">
    <p>Learn more about the program <a class="link-secondary" href=<%= @certificate.website %>>here</a></p>
    </p>
  </li>

  <li>
  <% if @bookmarked %>
    <h5>Bookmarked!</h5>
    <%= button_to 'Unbookmark', bookmark_path(@certificate), :method => 'delete', :class => 'btn btn-dark' %>
  <% else %>
    <%= form_tag bookmarks_path, :class => 'form' do %>
      <%= text_field :bookmarks, :certificate_id, :class => 'form-control', :value =>"#{@certificate.id}", :type => 'hidden' %>
      <%= submit_tag 'Add to Bookmarks', :class => 'btn btn-dark' %>
    <% end %>
  <% end %>
  </li>

  <p> </p>


    <% if session[:admin] == true %>
      <li>
        <p id="delete">
        <%=  link_to "Delete Certificate", certificate_path(@certificate.id), method: :delete,:class => 'btn btn-primary' %>
        </p>
      </li>
    <% end %>


</ul>
