<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>Certipedia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">

        <%= link_to "Certipedia: Just Certify Yourself!", certificates_path({:schools => [""],:subjects => [""]}),:class=>"nav-item"%>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if session[:admin] == true %>
              <li class="nav-item">
                <%= link_to "Add Certificate", new_certificate_path,  class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav ms-auto">
          <% if session[:username] == nil %>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "#{session[:username]}", user_path(id: session[:id]),  class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
